* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #001e4d;

}
.App{
    width: 90%;
    margin: 100px auto 0;
    padding: 30px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
}
.App h1 {
    font-size: 25px;
    font-weight: 500;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.ques {
    padding: 20px 0;
   

}
.ques h2 {
    font-size:18px;
    color: #001e4d;
}

.btn {
    background: #fff;
    padding: 20px;
    color: #222;
    font-weight: 400;
    width: 100%;
    border: 1px solid #222;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.correcte {
    background: #9aeabc;
}
.incorrecte{
    background: #ff9393;

}
.btn:hover :not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next {
    background: #001e4d;
    color: #fff;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    display: none;
}